repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    - id: check-toml
    - id: check-yaml

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.15.2
  hooks:
    # Run the linter.
    - id: ruff-check
      args: ["--fix"]
    # Run the formatter.
    - id: ruff-format

- repo: local
  hooks:
    - id: ty-check
      name: ty-check
      entry: ty check
      language: system
      types: [python]
      require_serial: true
      pass_filenames: false  # Tells pre-commit to check the whole project
      always_run: true       # Forces the hook to run on every commit

- repo: local
  hooks:
    - id: pytest
      name: pytest
      entry: pytest -k tests
      language: system
      types: [python]
      require_serial: true
      pass_filenames: false  # Tells pre-commit to check the whole project
      always_run: true       # Forces the hook to run on every commit
